<div class="col animated fadeIn">
    <div class="card h-100">
        <img [src]="heroe.img" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" [routerLink]="['/heroe', id]">Ver
                    mas..</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{heroe.aparicion}}</small>
            </div>
        </div>
    </div>
</div>