<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">
            <img src="../assets/img/A-64.png" alt="Bootstrap" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="heroes" routerLinkActive="active" class="nav-link">Heroes</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="text" placeholder="Buscar" [(ngModel)]="buscar" name="buscar"
                    (keyup.enter)="buscarHeroe()">
                <button class="btn btn-outline-success" type="button" (click)="buscarHeroe()">Buscar
                    
                </button>
            </form>
        </div>
    </div>
</nav>

<!-- 
    ng g c components/about -s
    ng g c components/heroes -s

 -->